@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/img/book_home.png" style="width: 350px; height: 320px;"/>
</div>

<div class="text-center">
    <h3>Welcome to the most complete used books database</h3>
    <h5>You can:</h5>
    <p style="margin: 0;"><a asp-page="/Books/Index">See the whole list</a></p>
    <p style="margin: 0;"><a asp-page="/Books/Create">Add your own books</a></p>
    <p style="margin: 0;"><a asp-page="/BookingCRUD/Index">Reserve all the books you want</a></p>
</div>
